{% extends 'main.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="body-container">
   <h1>Home Page</h1><hr>
   <h3>Message 1</h3>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ipsam dignissimos totam optio suscipit eum vero sunt animi in molestiae facilis minus, recusandae eligendi laborum neque quam porro sit ratione.</p>
   <h3>Message 2</h3>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ipsam dignissimos totam optio suscipit eum vero sunt animi in molestiae facilis minus, recusandae eligendi laborum neque quam porro sit ratione.</p>
   <h3>Message 3</h3>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ipsam dignissimos totam optio suscipit eum vero sunt animi in molestiae facilis minus, recusandae eligendi laborum neque quam porro sit ratione.</p>
   <h3>Message 4</h3>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis ipsam dignissimos totam optio suscipit eum vero sunt animi in molestiae facilis minus, recusandae eligendi laborum neque quam porro sit ratione.</p>

</div>

{% endblock %}